<div id="logo">
	<%= image_tag("Logo.png")%>
</div>
<div id="wrapper">
	<div id="carousel">
		<div><%= image_tag("Foto Eolico.png")%></div>
		<div><%= image_tag("Foto Lapiz.png")%></div>
		<div><%= image_tag("Foto Mineria.png")%></div>
		<div><%= image_tag("Foto Martillo.png")%></div>
	</div>
	<div id="title">
		<!--<h3>The Netherlands covered in snow</h3> <p><a href="http://gigapica.geenstijl.nl/2013/01/the_netherlands_covered_in_sno.html">images from gigapica.geenstijl.nl</a></p>-->
	</div>
	<div id="pager"></div>
</div>