<div id="logo">
	<%= image_tag("Logo.png")%>
</div>
<div id="carousel">
<div id="slides">
<div id="next"></div>
<div id="prev"></div>
<ul>
<li><%= image_tag("Foto Martillo.png")%></li>
<li><%= image_tag("Foto Eolico.png")%></li>
<li><%= image_tag("Foto Lapiz.png")%></li>
<li><%= image_tag("Foto Mineria.png")%></li>
</ul>
</div>
</div>
