<!DOCTYPE html>
<html>
<head>
	<title>LavinVillegas</title>

	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
		<%= yield %>
	</div>
	<footer>
		<div id="contactos">
			<%= image_tag("Logo Contacto.png", class: "contacto_minimizado")%><br />
			<div class="contacto_maximizado">
				<table>
					<tr>
						<td colspan="2" class="borde_degradado_top nombre">Germán Villegas</td>
						<td colspan="2" class="nombre pleft">Andrés Lavin</td>
					</tr>
					<tr>
						<td rowspan='3' class="iconos"><%= image_tag("Iconos hacia abajo.png")%></td>
						<td class="info borde pright">+562 23790163</td>
						<td rowspan='3' class="pleft iconos"><%= image_tag("Iconos hacia abajo.png")%></td>
						<td class="info">+562 23790164</td>
					</tr>
					<tr>
						<td class="info borde pright">+569 79980124</td>
						<td class="info">+569 97417889</td>
					</tr>
					<tr>
						<td class="info borde_degradado pright">gvillegas@lavinyvillegas.com</td>
						<td class="info">alavin@lavinyvillegas.com</td>
					</tr>
					
				</table>
			</div>
		</div>
		<div id ="direccion">Av. La Dehesa 1822, Of. 703, Lo Barnechea, Santiago</div>
	</footer>

</body>
</html>
